.page-content{
    padding: 0px 10px;
}

.search{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.search form{
    width: 300px;
}

.page-block{
    display: flex;
}

.liste-message{
    flex: 1;
    background-color: #eeeeee;
    border: 2px solid rgb(17, 53, 121);
    margin-left: 20px;
}

.page-nav{
    padding: 20px;
    background-color: #eeeeee;
    color: rgb(17, 53, 121);
}

.page-nav div{
    margin-bottom: 15px;
}

.post {
    background-color: #fff;
    color: rgb(17, 53, 121);
    border: 2px solid rgb(17, 53, 121);
    padding: 20px;
    border-radius: 8px;
    margin-left: 20px;
    margin-bottom: 20px;
    width: 700px;
}

.message{
    display: flex;
    width: 100%;
    padding: 10px;
}

.message.owner{
    flex-direction: row-reverse;
}

.user-page{
    height: 100px;
}

.liste-message form{
    margin-bottom: 20px;
    padding: 0px 10px;
}

.liste-message form .btn{
    width: 500px;
}