<!DOCTYPE html>
    <html>
        <head>
            <title>Test</title>
            <link rel="stylesheet" href="/assets/assets/css/bootstrap.min.css">
            <link rel="stylesheet" href="/assets/assets/css/posts.css">
        </head>
        <body>
            <div class="page-content">

                <div class="search">
                    <form action="" class="d-flex">
                        <input type="text" class="form-control">
                        <button class="btn btn-primary">Aller</button>
                    </form>
                    <button class="btn btn-secondary">Retour</button>
                </div>

                <div class="page-block">
                    <div class="page-nav">
                        <div>General</div>
                        <div>General</div>
                        <div>General</div>
                        <div>General</div>
                        <div>General</div>
                        <div>General</div>
                    </div>
                    <div class="liste-message">
                        <div class="message">
                            <img src="/assets/images/User_icon_2.png" class="user-page" alt="">
                            <div class="post">
                                popst
                            </div>
                        </div>

                        <div class="message">
                            <img src="/assets/images/User_icon_2.png" class="user-page" alt="">
                            <div class="post">
                                popst
                            </div>
                        </div>

                        <div class="message owner">
                            <img src="/assets/images/User_icon_2.png" class="user-page" alt="">
                            <%= author %>
                            <div class="post">
                                popst
                            </div>
                        </div>

                        <form action="" method="POST" class="d-flex">
                            <input name="pseudo" type="text" class="form-control">
                            <button class="btn btn-primary">Envoyer</button>
                        </form>
                    </div>
                </div>
            </div>
        </body>
    </html>